@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.kitto{
    font-family: "subscribe" !important;
    font-size: 250px;
}
.pempek{
    font-family: 'fredoka' !important;
    font-size: 100px ;
}

.kitto,.pempek{
    margin-left: 200px;
}

.nav-link {
    color: black;
    font-size: 27px;
    margin-right: 30px;
}

nav{
    background-color: #fff;
    height: 69px;
font-weight: 600;
}
.last-navlink{
    margin-right: 70px;
}

.jumbotron{
    height: 100vh;
    background-image: url(images/Jumbotron.png);
    background-size: cover

}

.tentang{
    height: 120vh;
    background-color: black;
    overflow: hidden;
}

.row-tentang{
margin-left: 90px;
}

.col-tentang {
    margin-top: 100px;
}
.jembatan{
    width: 800px;
    margin-left: 200px;
}
.text-tentang{
    font-size: 54px;
}

.text-tentang-deskripsi{
    font-size: 24px;
}

.menus{
    margin-top: 100px;
}
.border-customer-menus{
    border-right: solid 5px;
    border-left: solid 5px;
    stroke-width: 7px;
    border-color: rgba(19, 21, 27, 0.31);
}

.menus-margin{
    margin-top: 40px;
}

.menu-text{
    margin-top: 200px;
}

.menu-text h2 {
    font-size: 60px;
}

.menu-text hr{
    border: none;
    height: 3px;
    width: 20%;
    margin: 20px auto;
    background-color: rgba(52, 63, 95, 0.853);
}

.kontak{
    background-color: black;
    height: 75vh;
    margin-top: 200px;
}

.custom-card{
   padding: 64px 82px 70px 82px;
}

.text-kontak{
    padding-top: 90px;
    padding-bottom: 59px;
}

.footer{
    margin-top: 70px;
}

.footer .container{
    padding: 70px;
}

.custom-card-menu{

}
.buton-menu{
    padding: 10px;
}

.custom-shadow{
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}